.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-grid-view {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  /* grid-auto-flow: row; */
  gap: 2em 2em;
}

.container-list-view {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  /* grid-auto-flow: row; */
}

.container-grid-view > .book {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 0px 0px;
  justify-content: start;
  align-content: start;
  grid-template-areas:
    "image text"
    "stars options";
  /* grid-area: book; */

  border: 1px solid grey;
  padding: 0.4em;
}

.container-list-view > .book {
  display: grid;
  grid-template-columns: 1fr repeat(3, 0.1fr);
  grid-template-rows: 3em;
  gap: 0px 0px;
  justify-content: start;
  align-content: start;
  grid-template-areas: "text image stars options";
  /* grid-area: book; */

  border: 1px solid grey;
  padding: 0.4em;
}
.container-grid-view > .list-header {
  display: none;
}

.container-grid-view > .book > .text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content min-content;
  gap: 0.75em;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "quote"
    "author";
  grid-area: text;
}

.container-list-view > .book > .text {
  display: grid;
  grid-template-columns: 0.5fr 0.8fr 0.4fr;
  grid-auto-rows: auto;
  gap: 0px 2em;
  grid-auto-flow: column;
  grid-template-areas: "title quote author";
  grid-area: text;
}

.title {
  justify-self: start;
  align-self: start;
  grid-area: title;
}
.container-list-view > .book > .text > .title {
  justify-self: start;
  align-self: center;
  grid-area: title;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quote {
  justify-self: start;
  align-self: start;
  grid-area: quote;
}
.container-list-view > .book > .text > .quote {
  justify-self: start;
  align-self: center;
  grid-area: quote;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container-list-view > .book > .text > .author {
  justify-self: end;
  align-self: center;
  grid-area: author;

  text-align: end;
}
.author {
  justify-self: start;
  align-self: start;
  grid-area: author;
}

.stars {
  justify-self: start;
  align-self: center;
  grid-area: stars;
}
.container-list-view > .book > .stars {
  justify-self: center;
  align-self: center;
  grid-area: stars;
}

.options {
  justify-self: end;
  align-self: center;
  grid-area: options;
}

.image {
  justify-self: center;
  align-self: start;
  grid-area: image;
}
.container-list-view > .book > .image {
  justify-self: center;
  align-self: center;
  grid-area: image;
}
