html {
  font-family: "Roboto", sans-serif;
}

.page-title {
  font-size: 1.3125rem;
}
.book > .text > .title {
  font-size: 0.875rem;
  font-weight: 700;
}
.book > .text > .quote {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 160%;
  color: rgb(100, 100, 100);
}

.book > .text > .author {
  font-size: 0.6875rem;
  color: var(--color-grey-light);
}
.container-grid-view .author {
  font-weight: 400;
}
.container-list-view .author {
  font-weight: 500;
}

.book > .stars {
  font-size: 0.75rem;
  font-weight: 400;
}
.book > .stars > .material-icons {
  font-size: 1.3rem;
}

/*  */
.book.list-header .header {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0.2em;
}

.dropdown-menu .options-item {
  color: var(--color-white);
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 300;
}
.dropdown-menu .options-note {
  color: var(--color-grey-light);
  font-size: 0.5625rem;
  font-weight: 300;
}
